<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/nav') -%>
    <form action="/" method="post">
      <label for="title" class="form_label">Title</label>
      <input type="text" name="title" id="title" />
      <label for="snippet" class="form_label">Snippet</label>
      <input type="text" name="snippet" id="snippet" />
      <label for="body" class="form_label">Body</label>
      <input type="text" name="body" id="body" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
