<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document | <%= title %></title>
  </head>
  <body>
    <%- include('./partials/nav') -%>
    <p>About</p>
    <div>
      <ul>
        <li>Frontend with React js</li>
        <li>Backend with Node js</li>
        <li>SQL with MySQL</li>
      </ul>
      <p>Github : /devstefancho</p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
